# Folderele și fișierele de la rădăcină pe care NU le vrei pe GitHub
backup/
PDF/
commands.txt
main.bicep
REALTIME_CHART_SYN*
SENSOR_DROPDOWN_*
template.json

# Fișiere și medii temporare de sistem (din tot proiectul)
**/venv/
**/.pio/
**/.vscode/
**/__pycache__/